<div class="card bg-base-100 shadow">
  <div class="card-body">

    <div class="flex justify-between items-stretch">

      <!-- 左列 -->
      <div class="flex flex-1 min-w-0 flex-col">

        <!-- アイテム名 -->
        <h2 class="card-title truncate">
          <%= item.name %>
        </h2>

        <!-- アイテム登録日 -->
        <div class="text-sm mt-1">
          <ion-icon name="calendar-outline" class="text-base translate-y-[2px]"></ion-icon>
          <span><%= item.created_at.strftime("%Y/%-m/%-d") %>に登録</span>
        </div>

        <!-- ステータスバッジ + 次にできることを案内 -->
        <div class="mt-3 flex flex-col gap-1 sm:flex-row sm:items-center">
          <%= render 'items/status_badge', item: item %>
          <p class="text-xs"><%= item.next_action_message %></p>
        </div>
      </div>

      <!-- 右列 -->
      <div class="flex flex-col items-end h-full mt-1 gap-5">

        <!-- 次できるアクションに遷移するボタン -->
        <div class="btn-sm">
          <% if item.next_action.nil? %>
            <button class="invisible btn"></button>
          <% else %>
            <%= render 'items/next_action_button', item: item %>
          <% end %>
        </div>

        <!-- アイテム詳細に遷移するボタン -->
        <%= link_to "詳細", item_path(item), class: "btn btn-outline btn-sm mt-auto" %>
      </div>
    </div>
  </div>
</div>