<div class="max-w-2xl mx-auto my-8 px-4">
  <div class="bg-white rounded-xl shadow px-8 py-10">
    <h1 class="text-2xl font-bold mt-2 mb-9 text-center">クールダウンタイマーを使う</h1>

    <%= form_with model: @item, url: set_cooldown_item_path(@item), method: :patch do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <!-- アイテム情報 -->
      <div class="bg-base-200 rounded-sm opacity-90 my-12">
        <div class=" px-1 py-1.5 ml-2">
          <p class="font-medium"><%= @item.name %></p>

          <ion-icon name="calendar-outline" class="text-sm translate-y-[2px]"></ion-icon>
          <span class="text-sm">
            <%= @item.created_at.strftime("%Y/%-m/%-d") %>
            <span class="mx-0.5"></span>
            <%= @item.created_at.strftime("%-H:%M") %>に登録
          </span>
        </div>
      </div>

      <!-- クールダウンタイマー -->
      <div class="max-w-xl">
        <%= render 'items/cooldown_options' %>

        <div class="flex text-sm justify-center gap-1 mb-7">
          <ion-icon name="leaf-outline" class="text-lg"></ion-icon>
          <p>クールダウン中は、次のステップに進めなくなります</p>
        </div>

        <!-- ボタン -->
        <div class="flex flex-col items-center gap-6">
          <%= submit_tag "設定する", class: "btn-base sm:w-auto min-w-[140px]" %>
          <%= link_to "キャンセル", item_path(@item), class: "btn btn-outline w-fit sm:w-auto min-w-[140px]" %>
        </div>
      </div>

    <% end %>
  </div>
</div>